@import url("https://fonts.googleapis.com/css2?family=Acme&family=Indie+Flower&family=Inter:wght@100;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "indie", sans-serif;
  border:none;
}

body {
  background-color: #e5e5e5;
  color: white;
}

header .desconto {
  display: flex;
  align-items: center;
  height: 23px;
  padding-left: 10px;
  background-color: #1cd1b0;
}

header .menu__loja {
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: white;
  height: 80px;
  background: #00669f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.formulario {
  background-color: #00669f;
  border-radius: 10px;
  padding: 20px;
  width: 60%;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formulario h1 {
  font-size: 2rem;
  text-align: center;
}

.titulos {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.dados__basicos {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  display: block;
  margin-bottom: 2px;
}

.container__form {
  display: flex;
  justify-content: center;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 2px;
}

.botao{
  align-self:center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 61px;
  background-color: #00669f;
}
