@import url("https://fonts.googleapis.com/css2?family=Acme&family=Indie+Flower&family=Inter:wght@100;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "indie", sans-serif;
}

body {
  background-color: #e5e5e5;
  color: white;
}

header .desconto {
  display: flex;
  align-items: center;
  height: 23px;
  padding-left: 10px;
  background-color: #1cd1b0;
}

header .menu__loja {
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: white;
  height: 80px;
  background: #00669f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main{
  display: flex;
  justify-content: center;
}

form{
  background-color: #00669f;
  position:relative;
  width: 954px;
  height: 832px;
  margin:5%;
  border-radius: 5%;
  }
.container{
  padding:5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.required:before {
  content:"*"; 
}

.containerconteudo{
  padding-top: 30px;
  gap:30px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.coluna{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap:10px;
}

.coluna label{
  display: block;
}

.coluna input{
  width: 100%;
}

input[type=text],[type=date], .coluna .texta {
  border-radius: 5px;
  border: 1px solid #e0c3fc;
  outline: none;
  width: 100%;    
  font-size:0.8rem;
  padding: 5px;
  opacity: 0.8;   
}

input[type=text],[type=date]{
  height: 40px;
}

input[type=textarea]{
  height:90px;
}

label{
  display: block;
  margin-bottom: 2px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 61px;
  background-color: #00669f;
}
